@font-face {
	font-family: 'MyWebFont';
	src: url('../assets/super-mario-bros--3-webfont.eot'); /* IE9 Compat Modes */
	src: url('../assets/super-mario-bros--3-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../assets/super-mario-bros--3-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../assets/super-mario-bros--3-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../assets/super-mario-bros--3-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}
	
.txt {
	font-family: 'MyWebFont', Fallback, sans-serif;
	color:white;
	font-size:1.2em;
	background-color:black;
	height:20px;
	width:40px;
}

#coins {
	position:absolute;
	left:123px;
	top:86px;
}

#lifes {
	position:absolute;
	left:204px;
	top:166px;
}