.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.animationsDiv
{
	display:block;
	position: absolute;
	top:180px;
	left:164px;
	background-color:black;
}

.animation
{
	width: 56px;
	height: 56px;
	float:left;
	background-image: url(../images/smb2_various_sheet.png);
	background-size: 900px 910px;
	background-position: -301px -468px;
	-webkit-animation-fill-mode: forwards;
}

.animation:nth-of-type(n+2)
{
	margin-left:8px;
}

.left {
	animation: slotmachine_animation1 0.5s steps(1);
	animation-iteration-count:2;
	-webkit-animation-iteration-count:3; /*Safari and Chrome*/
	-webkit-animation-fill-mode: forwards;
}

.middle {
	animation: slotmachine_animation2 0.5s steps(1);
	animation-iteration-count:3;
	-webkit-animation-iteration-count:6; /*Safari and Chrome*/
	-webkit-animation-fill-mode: forwards;
}
.right {
	animation: slotmachine_animation3 0.5s steps(1);
	animation-iteration-count:4;
	-webkit-animation-iteration-count:9; /*Safari and Chrome*/
	-webkit-animation-fill-mode: forwards;
}


@keyframes slotmachine_animation1 {
  0% {
    background-position: -301px -468px;
  }
  10% {
    background-position: -361px -468px;
  }
  20% {
    background-position: -421px -468px;
  }
  30% {
    background-position: -481px -468px;
  }
  40% {
    background-position: -301px -468px;
  }
  50% {
    background-position: -361px -468px;
  }
  60% {
    background-position: -421px -468px;
  }
  70% {
    background-position: -481px -468px;
  }
  80% {
    background-position: -301px -468px;
  }
  90% {
    background-position: -361px -468px;
  }
  100% {
    background-position: -421px -468px;
  }
}

@keyframes slotmachine_animation2 {
  0% {
    background-position: -361px -468px;
  }
  10% {
    background-position: -421px -468px;
  }
  20% {
    background-position: -481px -468px;
  }
  30% {
    background-position: -301px -468px;
  }
  40% {
    background-position: -361px -468px;
  }
  50% {
    background-position: -421px -468px;
  }
  60% {
    background-position: -481px -468px;
  }
  70% {
    background-position: -301px -468px;
  }
  80% {
    background-position: -361px -468px;
  }
  90% {
    background-position: -421px -468px;
  }
  100% {
    background-position: -481px -468px;
  }
}
  
@keyframes slotmachine_animation3 {
  0% {
    background-position: -481px -468px;
  }
  10% {
    background-position: -301px -468px;
  }
  20% {
    background-position: -421px -468px;
  }
  30% {
    background-position: -361px -468px;
  }
  40% {
    background-position: -481px -468px;
  }
  50% {
    background-position: -301px -468px;
  }
  60% {
    background-position: -421px -468px;
  }
  70% {
    background-position: -361px -468px;
  }
  80% {
    background-position: -481px -468px;
  }
  90% {
    background-position: -301px -468px;
  }
  100% {
    background-position: -421px -468px;
  }
}

